/* css reset */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Fira+Sans:wght@500;600;700;800&family=Noto+Serif&family=Source+Serif+Pro&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    background-color: rgb(152, 158, 157);
    width: 300px;
    height: 100vh;
}

.sidebar nav {}

.sidebar li {
    list-style: none;
    font-size: 1.4rem;
    padding: 20px;
    margin-top: 15px;


}
.sidebar li a{
    text-decoration: none;
    color: black;


}


.main {
    /* background-color: yellow; */
    width: 88vw;
}

.infocontainer {
    display: flex;
    background-color: rgb(238, 148, 113);
    height: 65vh;
    width: 75vw;
    margin: auto;
    margin-top: 64px;
    justify-content: space-around;
}

.infocontainer .devinfo {
    /* background-color: blue; */
    /* width: 30vw; */
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.hello {
    font-size: 4rem;
    font-family: 'Fira Sans', sans-serif;
}
.hello:hover{
    /* color: red; */
}


.infocontainer .devinfo div {
    /* background-color: aliceblue; */

    margin-top: 10px;

    padding-top: 10px;

}

.infocontainer .devpic {
    /* background-color: green; */
    /* width: 45vw; */
    height: 65vh;
}

.infocontainer .devpic .image {

    height: 65vh;
    

}

